.Palette {
   height: 100vh;
   display: flex;
   flex-direction: column;
}
.Palette-colors {
   height: 88%;
}
.Palette-footer {
   background-color: white;
   width: 100%;
   height: 6vh;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 0.9rem;
   font-weight: bold;
}
.emoji {
   font-size: 1.1rem;
   margin: 0 1rem;
   align-self: auto;
}
